// close button

.closeWindowButton {
  height: 30px;
  width: 30px;

  background-color: #667363;
  color: #fff;

  border: none;
  border-radius: 2px;

  box-shadow: 0 0 2px rgba(0,0,0,0.4);
}

.closeWindowButton:hover {
  box-shadow: 0 0 7px rgba(0,0,0,0.4);
  background-color: #5d695a;
}

.closeWindowButton:active {
  transform: translateY(0.5px);
}