.header{
  display: flex;
  justify-content: center;

  // background-color: #ccc;
}

.headerInner {
  height: 120px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.userDiv {
  // width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  // margin-right: 80px;
  transform: translateX(-45%);
}

.userData {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding: 4px;

  padding-right: 10px;
}

.user {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding: 4px;

  padding: 0px 10px;
}

.imgDiv {
  padding-top: 20px;
}

.button {
  display: block;
  /* background-color: #667363; */
  color: white;
  margin-top: 5px;
  /* text-align: ; */
  /* height: 25px;
  width: 75px; */

  height: 30px;
  width: 80px;

  background-color: #667363;
  // background-color: red;
  color: #fff;

  border: none;
  border-radius: 2px;

  box-shadow: 0 0 2px rgba(0,0,0,0.4);
}

.button:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  background-color: #5d695a;
}

.button:active {
  transform: translateY(0.5px);
}

.link {
  // border: none;
  text-decoration: none;
}

@media (max-width: 900px) {

  .header{
    display: flex;
    justify-content: center;
  
    // background-color: #ccc;
  }
  
  .headerInner {
    height: auto;
    width: 90%;
    display: block;
    // justify-content: space-between;
    // padding-bottom: 50px;
  }

  .userDiv {
    // width: 50%;
    display:inline;
    width: 90%;
    right: 0;
    // justify-content: flex-end;
    // align-items: center;
    margin: 0px;
    // transform: translateX(-45%);
  }
}