.header{
  display: flex;
  justify-content: center;

  // background-color: #ccc;
}

.headerInner {
  height: 120px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.userDiv {
  // width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  // margin-right: 80px;
  transform: translateX(-45%);
}

.user {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding: 4px;
}

.imgDiv {
  padding-top: 20px;
}