.calendarWrapper {
  display: flex;
  // border: solid 1px;
  width: 100%;
  padding-top: 50px;
}

.calendar {
  width: 50%;
  // border: solid 1px;
}

@media (max-width: 900px) {
  .calendar {
    width: 100%;
  }

  .calendarWrapper {
    display: block;
    // border: solid 1px;
    width: 100%;
    padding-top: 50px;
  }
}