.container {
  border-top: 1px solid;
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 95%;
  justify-content: space-between;
}

.timeBoxWrapper {
  // background-color: red;
  width: 100%;
}

.timeBox {
  // border-top: 1px solid;
  padding: 10px;

  display: flex;
  flex-direction: row;
  // width: ;

  // background-color: red;
  // width: 90%;
}

.leftWrapper {
  width: 100%;
  // border: solid;
  // height: 100%;
  padding-right: 10px;
}

.rightWrapper {
  // height: 100%;
  // border: solid;85
  align-items: flex-end;

}

// ======================== Response Info ==========================

.innerTimeBox {
  padding: 10px;
  padding-top: 0px;
  display: flex;
  flex-direction: row;
}

.responseInfo {
  width: 100%;
  // border: solid;
  // height: 100%;
  padding-right: 10px;

}

.responseInfoButtons {
  align-items: flex-end;
}

.addButtonWrapper {
  display: flex;
  justify-content: flex-end;
  padding: 0px 10px 41px 0px;
}

// .x {
//   background-color: red;
//   width: 100%;
// }

// =================================================================

.windowBackground {
  position: fixed;
  width: 50%;
  left: 0;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);
}

.window {
  height: 80%;
  overflow: auto;
  // max-height: 620px;
  width: 70%;
  // width: 380px;
  max-width: 400px;
  min-width: 340px;
  position: fixed;
  background-color: #ebebeb;
  border: none;
  border-radius: 16px;
  box-shadow: 0 0 12px rgba(0,0,0,0.6);
}

@media (max-width: 900px) {
  .windowBackground {
    position: fixed;
    width: 100%;
    // left: 0;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
  }
}

// ----------------------------------------------------------------

.reservationWrapper {
  display: flex;
  flex-wrap: wrap;
}

.reservationData {
  padding: 0px 0px 10px 10px;
  margin: 0;
}

.whoAdded {
  padding: 0px 0px 10px 10px;
  margin: 0;
  font-size: 0.75em;
}

// ----------------------------------------------------------------

.buttonsWrapper {
  display: flex;
  justify-content: flex-end;
}

// ------------------- powiadomienie przed usuń -------------------

.notificationBackground {
  position: fixed;
  width: 50%;
  left: 0;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);
}

.notificationWrapper {
  // height: 85%;
  height: 220px;
  // width: 70%;
  // width: 380px;
  width: 320px;
  min-width: 220px;
  position: fixed;
  background-color: #ebebeb;
  border: none;
  border-radius: 16px;
  box-shadow: 0 0 12px rgba(0,0,0,0.6);

  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
}

.notificationBox {
  height: 120px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notificationBar {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  // top: 10px;
  padding: 10px;
}

// close notification box button

.closeWindowButton {
  height: 30px;
  width: 30px;

  background-color: #667363;
  color: #fff;

  border: none;
  border-radius: 2px;

  box-shadow: 0 0 2px rgba(0,0,0,0.4);
}

.closeWindowButton:hover {
  box-shadow: 0 0 7px rgba(0,0,0,0.4);
  background-color: #5d695a;
}

.closeWindowButton:active {
  transform: translateY(0.5px);
}

// PDF

  @media print {
    body * {
      display: none;
    }
  
    .print-section {
      display: block;
    }
  }

  .button {
    display: block;
    /* background-color: #667363; */
    color: white;
    height: 30px;
    min-width: 80px;
  
    background-color: #667363;
    color: #fff;
  
    border: none;
    border-radius: 2px;
  
    box-shadow: 0 0 2px rgba(0,0,0,0.4);
  
    margin: 10px;
  }
  
  .button:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    background-color: #5d695a;
  }
  
  .button:active {
    transform: translateY(0.5px);
  }

//

.confirmBox {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translateX(50%);
  top: 10%;

  border: 1px solid;
  
}