.container {
  border-top: 1px solid;
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 95%;
  justify-content: space-between;
}

.timeBox {
  // border-top: 1px solid;
  padding: 10px;

  display: flex;
  flex-direction: row;
  // width: ;

  // background-color: red;
  // width: 90%;
}

.leftWrapper {
  width: 100%;
  // border: solid;
  // height: 100%;
  padding-right: 10px;
}

.rightWrapper {
  // height: 100%;
  // border: solid;85
  align-items: flex-end;

}

// ======================== Response Info ==========================

.innerTimeBox {
  padding: 10px;
  padding-top: 0px;
  display: flex;
  flex-direction: row;
}

.responseInfo {
  width: 100%;
  // border: solid;
  // height: 100%;
  padding-right: 10px;

}

.responseInfoButtons {
  align-items: flex-end;
}


// =================================================================

.windowBackground {
  position: fixed;
  width: 50%;
  left: 0;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);
}

.window {
  // height: 85%;
  height: 620px;
  width: 70%;
  // width: 380px;
  max-width: 400px;
  min-width: 340px;
  position: fixed;
  background-color: #ebebeb;
  border: none;
  border-radius: 16px;
  box-shadow: 0 0 12px rgba(0,0,0,0.6);
}

// ----------------------------------------------------------------

.reservationWrapper {
  display: flex;
  flex-wrap: wrap;
}

.reservationData {
  padding: 0px 0px 10px 10px;
  margin: 0;
}

// ----------------------------------------------------------------

.buttonsWrapper {
  display: flex;
  justify-content: flex-end;
}